on: [push, pull_request]
name: CI

jobs:
  update-latest:
    name: Update latest tag
    runs-on: ubuntu-latest
    concurrency:
      group: update-latest
      cancel-in-progress: false
    steps:
      - name: Checkout
        if: (github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/tags/'))
        uses: actions/checkout@v5

      - name: Update latest tag
        if: github.ref == 'refs/heads/main'
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git tag -f latest
          git push --tags -f

      - name: Create latest release
        if: github.ref == 'refs/heads/main'
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          if ! gh release view latest --repo $GITHUB_REPOSITORY &>/dev/null; then
            gh release create latest \
              --title "latest" \
              --notes "Latest builds" \
              --prerelease \
              --repo $GITHUB_REPOSITORY
          fi

  build:
    needs: [update-latest]
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, ubuntu-24.04-arm]
        name: [
          release,
          debug,
        ]

        include:
          - name: release
            os: ubuntu-latest
            config: --testing --unit-testing --python
            package-name: Bitwuzla-Linux-x86_64

          - name: release
            os: macos-latest
            config: --testing --unit-testing --python
            package-name: Bitwuzla-macOS-arm64

          - name: release
            os: ubuntu-24.04-arm
            config: --testing --unit-testing --python
            package-name: Bitwuzla-Linux-arm64

          - name: debug
            config: debug --python --cryptominisat --kissat

          - name: release-clang
            os: ubuntu-latest
            config: --testing --unit-testing --python --cryptominisat --kissat
            env: CC=clang CXX=clang++

          - name: debug-clang
            os: ubuntu-latest
            config: debug --shared --python
            env: CC=clang CXX=clang++

          - name: debug-win64
            os: windows-latest
            config: debug --python
            shell: msys2 {0}

          - name: release-win64
            os: windows-latest
            package-name: Bitwuzla-Win64-x86_64
            shell: msys2 {0}

    name: ${{ matrix.os }}:${{ matrix.name }}
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: ${{ matrix.shell || 'bash' }}

    steps:
      - name: Install Packages (Linux)
        if: runner.os == 'Linux'
        run: |
          sudo apt-get update
          sudo apt-get install -y libgmp-dev libmpfr-dev ninja-build meson cython3 python3-pytest libgtest-dev

      - name: Install Packages (macOS)
        if: runner.os == 'macOS'
        run: |
          brew install meson ninja pytest cython googletest
          echo "/opt/homebrew/opt/cython/bin" >> $GITHUB_PATH


      - name: Install Packages (Windows)
        if: runner.os == 'Windows'
        uses: msys2/setup-msys2@v2
        with:
          update: true
          path-type: inherit
          install: >-
            git
            zip
            mingw-w64-x86_64-ca-certificates
            mingw-w64-x86_64-cython
            mingw-w64-x86_64-gcc
            mingw-w64-x86_64-gmp
            mingw-w64-x86_64-mpfr
            mingw-w64-x86_64-gtest
            mingw-w64-x86_64-meson
            mingw-w64-x86_64-ninja
            mingw-w64-x86_64-python3
            mingw-w64-x86_64-python-pytest

      - name: Checkout
        uses: actions/checkout@v5

      - name: Configure
        run: ${{ matrix.env }} ./configure.py --prefix="$(pwd)/build/install" ${{ matrix.config }}

      - name: Build
        id: build
        run: |
          ninja install
          echo "build-dir=$(pwd)" >> $GITHUB_OUTPUT
        working-directory: build

      - name: Test
        run: meson test --print-errorlogs
        working-directory: build

      - name: Examples
        working-directory: examples
        run: |
          pkgconfigdir=$(find $(pwd)/../build/install/lib -name pkgconfig)
          pythonlibdir=$(find $(pwd)/../build/install/lib -name site-packages)
          meson setup build --pkg-config-path=$pkgconfigdir -Dpython_path=$pythonlibdir
          cd build
          meson test -v

      - name: Create and add static package to latest and release
        id: create-static-package
        if: matrix.package-name && (github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/tags/'))
        uses: ./.github/actions/add-package
        with:
          shell: ${{ matrix.shell || 'bash' }}
          build-dir: ${{ steps.build.outputs.build-dir }}
          package-name: ${{ matrix.package-name }}-static
